ar-lib
/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
.libs
*.tar*
*.zip
*.lo
*.gcno
*.gcda
*.log
test-driver
*.trs

# Generated binaries
src/clanchat
tests/check_*
!tests/check_*.c

